{{ define "title" }}Authorize access to Nest{{ end }}

{{ define "body" }}
<h1> Authorize access to Nest</h1>
<p>In order to be able to boost your Nest heating, we need to get authorization to control Nest on your behalf.</p>
<p><a href={{ .authorizeURL }}>Click here</a> to authorize access to Nest.</p>
{{ end }}